
body{
  /* background-color: #fafaf9!important; */
  background-color: #ECF1F7!important;
 padding-top: 35px!important;
 padding:20px;
 padding-left: 70px!important;
 
}


.box_{
 
  background-color:white;
}

h1{
  font-size: 48px;
}
.h1{
  font-size: 48px;
}
.noBg{
  width:100%; 
  background: transparent;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
